[submodule "ThirdParty/SPIRV-Tools"]
	path = ThirdParty/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "ThirdParty/SPIRV-Cross"]
	path = ThirdParty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ThirdParty/xxHash"]
	path = ThirdParty/xxHash
	url = https://github.com/Cyan4973/xxHash